<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Edit Buku</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center my-5">Edit Buku</h2>
        
        <form method="post" action="/buku/edit/{idbuku}" enctype="multipart/form-data" th:action="@{/buku/edit/{idbuku}(idbuku=${buku.idbuku})}" th:object="${bukuDto}">


          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">ID</label>
            <div class="col-sm-8">
              <input readonly class="form-control-plaintext" th:value="${buku.idbuku}">
            </div>
          </div>
          
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Nama Buku</label>
            <div class="col-sm-8">
              <input class="form-control" th:field="*{namabuku}">
              <p th:if="${#fields.hasErrors('namabuku')}" th:errorclass="text-danger" th:errors="*{namabuku}"></p>
            </div>
          </div>
          
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Penulis</label>
            <div class="col-sm-8">
              <input class="form-control" th:field="*{penulis}">
              <p th:if="${#fields.hasErrors('penulis')}" th:errorclass="text-danger" th:errors="*{penulis}"></p>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Harga</label>
            <div class="col-sm-8">
              <input type="number" step="0.01" class="form-control" th:field="*{harga}">
              <p th:if="${#fields.hasErrors('harga')}" th:errorclass="text-danger" th:errors="*{harga}"></p>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Jumlah Halaman</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" th:field="*{jumlahhalaman}">
              <p th:if="${#fields.hasErrors('jumlahhalaman')}" th:errorclass="text-danger" th:errors="*{jumlahhalaman}"></p>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Tanggal Terbit</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="tglterbit" th:value="${#dates.format(bukuDto.tglterbit, 'yyyy-MM-dd')}">
              <p th:if="${#fields.hasErrors('tglterbit')}" th:errorclass="text-danger" th:errors="*{tglterbit}"></p>
            </div>
          </div>

		<div class="row mb-3">
			<div class="offset-sm-4 col-sm-8">
				<img th:src="@{'/Gambar_Buku/' + ${buku.filegambar}}" alt="..." width="150">
			</div>
		</div>

          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Gambar</label>
            <div class="col-sm-8">
              <input type="file" class="form-control" th:field="*{fileGambar}">
              <p th:if="${#fields.hasErrors('fileGambar')}" th:errorclass="text-danger" th:errors="*{fileGambar}"></p>
            </div>
          </div>
          
			<!--  
			<div class="row">
				<div class="offset-sm-4 col-sm-4 d-grid">
					<button type="submit" class="btn btn-primary">Simpan</button>
				</div>
				<div class="col-sm-4 d-grid">
					<a class="btn btn-outline-primary" href="/buku" role="button">Batal</a>
				</div>
			</div>
			-->
			
		    <div class="row">
		        <div class="offset-sm-4 col-sm-4 d-grid">
		            <button id="simpanBtn" class="btn btn-primary" type="button">Simpan</button>
		        </div>
		        <div class="col-sm-4 d-grid">
		            <button class="btn btn-outline-primary" type="button">Batal</button>
		        </div>
		    </div>
			
        </form>
        
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    document.getElementById('simpanBtn').addEventListener('click', function() {
        alert('Data tersimpan');
        window.location.href = '/buku'; // Mengarahkan ke halaman /buku
    });
</script>
</body>
</html>
